<footer>
  <hr>
  2021&copy; Robell<br>
  Built using <a
  href="https://github.com/susam/spcss">SPCSS</a> and <a href="https://www.reddit.com/">Reddit</a>.<br>
  Find more of my work on <a href="https://github.com/apainintheneck">Github</a>.
</footer>
