<footer>
  <hr>
  2021&copy; Robell<br>
  Built using <a
  href="https://github.com/susam/spcss" target="_blank">SPCSS</a> and <a href="https://www.reddit.com/" target="_blank">Reddit</a>.<br>
  Find more of my work on <a href="https://github.com/apainintheneck" target="_blank">Github</a>.
  <hr>
  <br>
</footer>
