<!DOCTYPE html>
<html lang="en">
<head>
  <title>stirred it - feedname</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" href="css/sp.css">
</head>
  <body>
    <a href="/"><h1>stirred it</h1></a>
    <hr>
    <a id="subreddit1" href="https://www.reddit.com/r/warriors/hot/" target="_blank"><h1>/r/warriors</h1></a>
    <hr>
    <div id="results1"></div>
    <hr>
    <a id="subreddit2" href="https://www.reddit.com/r/nbadiscussion/hot/" target="_blank"><h1>/r/nbadiscussion</h1></a>
    <hr>
    <div id="results2"></div>
    <hr>
    <a id="subreddit3" href="https://www.reddit.com/r/NBA_Draft/hot/" target="_blank"><h1>/r/NBA_Draft</h1></a>
    <hr>
    <div id="results3"></div>
    <%- include('partials/footer.ejs') %>
    <script type="module" src="js/reddit-api.js"></script>
    <script type="module" src="js/app.js"></script>
  </body>
</html>
