<!DOCTYPE html>
<html lang="en">
<head>
  <title>stirred it - home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" href="css/sp.css">
</head>
  <body>
    <h1><a href="/">stirred it</a></h1>
    <hr>
    <p>
      This site allows you to create custom feeds of 3 public subreddits. Those feeds can be shared and accessed from any browser.
    </p>
    <p>
      <h1>find</h1>
      Find previously created feeds by entering the unique feed name.<br>
      <form>
        <input type="text" name="feed" required></input>
        <button type="submit">Search</button>
        <% if(typeof searchError != 'undefined'){ %>
          <br>Unable to find feed with the name: <%= searchInput %>
        <% } %>
      </form>
    </p>
    <p>
      <h1>create</h1>
      Create a new feed by entering a unique name and 3 public subreddits.
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
