<!DOCTYPE html>
<html lang="en">
<head>
  <title>stirred it - home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" href="css/sp.css">
</head>
  <body>
    <h1>stirred it</h1>
    <hr>
    <p>
      <h2>intro</h2>
      This site allows you to create custom combinations of public subreddits. Those feeds can be shared and accessed from any browser.
    </p>
    <p>
      <h2>find</h2>
      Find previously created feeds using the unique feed number.
    </p>
    <p>
      <h2>create</h2>
      Create a new feed with 3-6 valid subreddits.
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
