<!DOCTYPE html>
<html lang="en">
<head>
  <title>stirred it - home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" href="css/sp.css">
</head>
  <body>
    <h1><a href="/">stirred it</a></h1>
    <hr>
    <% if(typeof errorMsg != 'undefined'){ %>
      <div class="error-box"><h3><%= errorMsg %></h3></div>
    <% } %>
    <p>
      This site allows you to create custom feeds of 3 public subreddits.<br> Those feeds can be shared and accessed from any browser.
    </p>
    <p>
      <h1>find</h1>
      <form class="dark-box">
        <input type="text" name="feed" placeholder="Search for a feed..." required></input>
        <button type="submit">Find</button>
      </form>
    </p>
    <p>
      <h1>create</h1>
      <details class="dark-box">
        <summary>Create a new feed.</summary>
        <hr>
        <form method="POST">
          <input class="create" type="text" name="feedname" placeholder="Enter unique feed name..." maxlength="45" required></input><br>
          <input class="create" type="text" name="sub1" placeholder="Enter subreddit name..." maxlength="255" required></input><br>
          <input class="create" type="text" name="sub2" placeholder="Enter subreddit name..." maxlength="255" required></input><br>
          <input class="create" type="text" name="sub3" placeholder="Enter subreddit name..." maxlength="255" required></input><br>
          <hr>
          <button type="submit">Create</button>
        </form>
      </details>
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
