/*Based upon spcss which can be found here: https://github.com/susam/spcss*/
body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
}
h1, h2, h3 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2em;
}
a:link {
  color: #03c;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #03f;
  text-decoration: underline;
}
body,
h1 a:link, h2 a:link, h3 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, a:visited {
  color: #333;
}
h1 a:hover, h2 a:hover, h3 a:hover,
h1 a:active, h2 a:active, h3 a:active,
h1 a:focus, h2 a:focus, h3 a:focus, a:visited:hover {
  color: #444;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
.error-box {
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid #c90;
  border-radius: 15px;
  text-align: center;
  color: #c90;
}
.dark-bg {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 15px;
  border-radius: 15px;
  background: #eee;
  text-align: center;
}
details>summary {
  font-size: 1.2em;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
  }
  a:link {
    color: #9bf;
  }
  a:hover, a:active {
    color: #acf;
  }
  body,
  h1 a:link, h2 a:link, h3 a:link,
  h1 a:visited, h2 a:visited, h3 a:visited, a:visited {
    color: #bbb;
  }
  h1 a:hover, h2 a:hover, h3 a:hover,
  h1 a:active, h2 a:active, h3 a:active,
  h1 a:focus, h2 a:focus, h3 a:focus, a:visited:hover {
    color: #ccc;
  }
  .error-box {
    border-color: #fd9;
    color: #fd9;
  }
  .dark-bg {
    background: #111;
  }
}
